.vscode

leetcode/*.o
leetcode/*.exe
leetcode/*.app
leetcode/test.app

lightoj/*.o
lightoj/*.exe
lightoj/*.app
lightoj/test.app

core/pointer/*.o
core/pointer/*.exe

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

.DS_Store